@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');


body{font-family: 'IBM Plex Sans', sans-serif;
background-image: linear-gradient(to right,rgba(255, 0, 0, 0.829),purple, blue);}

.principal{height: 500px;
width: 300px;
border-radius: 5px;
border: none;
background-image: linear-gradient(to right, red,orange
 );
margin: auto;
position: relative; 
color: white;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
margin-top: 40px;}


.top{overflow: hidden;}
.top>img{float: left; margin:10px}
.top>span{right: 5px; position: absolute; margin: 10px; font-weight: bold;}


h3{margin: 10px;}


.p1{padding:0px 10px 0px 10px; font-weight: bold; margin-bottom: 0px;}

.text{overflow: hidden}
.p2{
    
    margin: 0px;
    margin-top: -12%;
    text-align: center;
    font-size: 190px;
    letter-spacing: 2.3rem;
    font-weight: 999;
    color: rgba(255, 255, 255, 0.432);
    position: relative;
    left: -12%;
    top: -20%;
    bottom: 24%;
    font-weight: bolder;

    
    
    
    
        
        
    }

.foot{ color: gray;
        
        background-color:white;
        width: 300PX;
        height: 88PX;
        text-align: center  ;
        border-radius: 0px 0px 5px 5px;

        
    }

    .foot>input{ border: 1px solid blue;
                border-radius: 50px;
            background-color: transparent;
        color: blue;
        padding: 4px;
        width: 60px;
        margin: 15px;
        font-weight: bold;
       position: relative;
       z-index: 3;
        
      
        
    }

        input:hover{background-color: blue; color: white;}

    .foot>p{letter-spacing: 5px; margin: 5px; 
            bottom: 4px; text-align: center;
        position: relative;}

    .shoe>img{width: 300px;
    position: absolute;
    bottom: 12%;
    left:41%;
    animation: rotate 2s  infinite alternate-reverse;
            
    
}

@keyframes rotate {
    to {
        transform: rotate(-10deg) ;
    }
    

}